aiohttp==3.9.5
aiosignal==1.3.1
argon2-cffi==23.1.0
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
comtypes==1.4.1
cryptography==42.0.5
customtkinter==5.2.2
discord.py==2.3.2
dnspython==2.6.1
edge-tts==6.1.9
fade==1.4
faker==24.9.0
frozenlist==1.4.1
GPUtil==1.4.0
idna==3.7
instaloader==4.10.3
keyboard==0.13.5
multidict==6.0.5
numpy==1.26.4
opencv-python==4.9.0.80
phonenumbers==8.13.37
Pillow==10.3.0
psutil==5.9.8
pyautogui==0.9.54
pycryptodome==3.20.0
pyfiglet==1.0.2
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.6
pyperclip==1.8.2
pystyle==2.9
pywin32==306
PyYAML==6.0.1
requests==2.31.0
rich==13.7.1
scapy==2.5.0
screeninfo==0.8.1
selenium==4.21.0
sounddevice==0.4.7
soundfile==0.12.1
urllib3==2.2.1
wave==0.0.2
whois==0.9.27
yarl==1.9.4
pycaw==20240210
